* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

#flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header,
label {
    color: #404040;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}

#header > h1{
    padding-top: 30px;
}

#header > p {
    margin-bottom: 40px;
}

#label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input#userGrid {
    border-color: #404040;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    text-align: center;
}

#colorSelection {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    align-items: center;
}

input#colorpicker {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

#colorpicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#enterBtn,
.resetBtn {
    border-radius: 5px;
    padding: 3px;
    margin: 0 4px;
}

#enterBtn,
.resetBtn,
.eraseBtn {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
    color: #F5F5DC;
}

.rgbBtn,
.eraseBtn {
    border-radius: 5px;
    padding: 3px;
    margin: 0 5px;
}

.rgbBtn {
    background-color: #f6bfbc;
    border-color: #f6bfbc;
    color: grey;
}

#gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid #a9a9a9;
}